body{
font-family: Arial;
margin:0;
background:#fff7f9;
color:#333;
}

header{
background:#ff7fa3;
color:black;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
}

nav a{
color:black;
text-decoration:none;
margin-left:20px;
font-weight:bold;
}

.hero{
text-align:center;
padding:80px;
background:linear-gradient(#ff9db8,#ffdbe6);
}

.botao{
background:white;
color:#ff4f84;
padding:12px 25px;
border-radius:25px;
text-decoration:none;
font-weight:bold;
}

section{
padding:50px;
text-align:center;
}

.grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
}

.card_header{
background:BLACK;
padding:20px;
border-radius:12px;
width:220px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card{
background:white;
padding:20px;
border-radius:12px;
width:220px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

button{
background:#ff4f84;
border:none;
color:white;
padding:15px 35px;
font-size:16px;
border-radius:30px;
cursor:pointer;
}

footer{
background:#ff7fa3;
color:white;
text-align:center;
padding:20px;
}